<!-- Modals -->
    <div class="modal fade" id="roleInfoModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Roles & Goals</h4>
          </div>
          <div class="modal-body">
            <p>Roles describe the identities that you assume, and goals correspond to the responsibilities that you have to others based on this identity.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal fade" id="sawInfoModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sharpen the Saw</h4>
          </div>
          <div class="modal-body">
            <p>Sharpen the saw refers to priorites which allow you to fulfill your goals optimally, such as exercising, eating healthily, and getting mental stimulation.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  	<!-- End Modals -->